<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssmdemo.dao.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.ssmdemo.bean.Teacher">
    <id column="te_id" jdbcType="INTEGER" property="teId" />
    <result column="te_name" jdbcType="VARCHAR" property="teName" />
    <result column="te_sex" jdbcType="VARCHAR" property="teSex" />
    <result column="te_salary" jdbcType="DECIMAL" property="teSalary" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    te_id, te_name, te_sex, te_salary
  </sql>
  <select id="selectByExample" parameterType="com.ssmdemo.bean.TeacherExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where te_id = #{teId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where te_id = #{teId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssmdemo.bean.TeacherExample">
    delete from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssmdemo.bean.Teacher">
    insert into teacher (te_id, te_name, te_sex, 
      te_salary)
    values (#{teId,jdbcType=INTEGER}, #{teName,jdbcType=VARCHAR}, #{teSex,jdbcType=VARCHAR}, 
      #{teSalary,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ssmdemo.bean.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teId != null">
        te_id,
      </if>
      <if test="teName != null">
        te_name,
      </if>
      <if test="teSex != null">
        te_sex,
      </if>
      <if test="teSalary != null">
        te_salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teId != null">
        #{teId,jdbcType=INTEGER},
      </if>
      <if test="teName != null">
        #{teName,jdbcType=VARCHAR},
      </if>
      <if test="teSex != null">
        #{teSex,jdbcType=VARCHAR},
      </if>
      <if test="teSalary != null">
        #{teSalary,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssmdemo.bean.TeacherExample" resultType="java.lang.Long">
    select count(*) from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update teacher
    <set>
      <if test="record.teId != null">
        te_id = #{record.teId,jdbcType=INTEGER},
      </if>
      <if test="record.teName != null">
        te_name = #{record.teName,jdbcType=VARCHAR},
      </if>
      <if test="record.teSex != null">
        te_sex = #{record.teSex,jdbcType=VARCHAR},
      </if>
      <if test="record.teSalary != null">
        te_salary = #{record.teSalary,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update teacher
    set te_id = #{record.teId,jdbcType=INTEGER},
      te_name = #{record.teName,jdbcType=VARCHAR},
      te_sex = #{record.teSex,jdbcType=VARCHAR},
      te_salary = #{record.teSalary,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssmdemo.bean.Teacher">
    update teacher
    <set>
      <if test="teName != null">
        te_name = #{teName,jdbcType=VARCHAR},
      </if>
      <if test="teSex != null">
        te_sex = #{teSex,jdbcType=VARCHAR},
      </if>
      <if test="teSalary != null">
        te_salary = #{teSalary,jdbcType=DECIMAL},
      </if>
    </set>
    where te_id = #{teId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssmdemo.bean.Teacher">
    update teacher
    set te_name = #{teName,jdbcType=VARCHAR},
      te_sex = #{teSex,jdbcType=VARCHAR},
      te_salary = #{teSalary,jdbcType=DECIMAL}
    where te_id = #{teId,jdbcType=INTEGER}
  </update>
</mapper>